body {
    background-color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.messagerie {
    display: flex;
    flex-direction:row;
    height: 100vh;
}

.liste-conv {
    justify-content: flex-start;
    background-color: #b0c4de;
    height: 100%;
    width: 500px;
    border-right: 1px solid #4682b4;
    position: fixed;
    overflow-y: auto;
}

.conversation {
    margin-left: 500px;
}

.LogoMSN{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.conv-liste {
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #b0c4de;
    overflow-y: auto;
    text-align: center;
}

.conv-liste h1 {
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #4682b4;
}

.liste a{
    text-decoration: none;
    display: block;
    padding: 15px;
    background-color: #4682b4;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.liste a:hover{
    background-color: #4169e1;
}

.liste li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.liste {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#grisé {
    background-color: #d3d2d2;
    color: black;
    border: solid 1px black;
}

.conversation {
    display: flex;
    flex-direction: column;
    width: 8000px;
}

.title-bar {
    background-color: #0078d7;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding: 0 8px;
    font-weight: bold;
    cursor: default;
    user-select: none;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.close-button, .minimize-button, .maximize-button {
    width: 38px;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #f10909;
    border: none;
    cursor: pointer;
    color: rgb(250, 247, 247);
}
.close-button:hover, .minimize-button:hover, .maximize-button:hover {
    background-color: #f10909;
}

.nav{
    width: 680px;
    margin-top: 30px;
    background-color: #d3d2d2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-style: solid;
    border-width: 1px;
    border-image: conic-gradient(#444, #3d7cad, #000) 1;
}

.déconnect {
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border: none;
    background-color: #e22c14;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.a-déco {
    text-decoration: none;
    color: white;
}

.titre-conv {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 130px;
}

.msg {
    width: 680px;
    margin-top: 100px;
}

.msg-g p {
    background-color: #add8e6;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    width: 200px;
}

.msg-d {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.msg-d p {
    background-color: #add8e6;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.date p{
    display: flex;
    justify-content: center;
    color: rgb(136, 133, 133);
    font-size: x-small;
}

.send-msg {
    background-color: #d3d2d2;
    display:flex;
    position: fixed;
    color: black;
    border-top: 1px solid #4682b4;
    padding: 35px;
    
    bottom: 0;
    width: 610px;
    border-style: solid;
    border-width: 1px;
    border-image: conic-gradient(#444, #3d7cad, #000) 1;
}

#fixé {
    position: fixed; /* Rajouté l'id="fixé" à .send-msg si il y a besoin*/
}

input[type="text"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-left: 40px;
    border: none;
    background-color: #4682b4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}