/* Reset du style pour éliminer les marges par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace !important;
}

html,
body {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background: black;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
p {
    font-size: 12px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #00FF00; 
    padding: 20px;
    width: 100%;  
    max-width: 92%;  
    min-height: 80vh;  
    flex: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
    z-index: 2;  
}

header, nav, article, footer {
    background-color: #000000;
    box-shadow: inset 0 0 10px #00FF00;
    color: #00FF00;
    padding: 10px;
    margin: 5px 0; 
}

header {
    background-color: #000000;
    color: #00FF00;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
    margin: 10px 0;
}

.button-left,
.button-right {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right top;
    background-color: #00FF00;
    color: #000000;
    padding: 3px 5px;
    border: 2px solid #000000;
    cursor: pointer;
    z-index: 10;
    white-space: nowrap;
    width: 30px;
}

.button-left {
    right: -23px;
    top: 47px;
}

.button-right {
    right: -23px;
    top: 94px;
}

nav {
    margin-right: 10px;
    background-color: #000000;
    padding: 15px;
    width: 150px;
    flex-shrink: 0;
}

article {
    display: flex; /* Utiliser Flexbox pour le layout de l'article */
    flex: 1;
    padding: 20px;
    background: #000000;
}

article .content {
    flex: 1; /* Faire en sorte que le contenu principal de l'article prenne tout l'espace disponible */
    color: #FFFFFF; /* Couleur du texte du contenu principal */
}

.image-gallery {
    margin-left: 20px; /* Ajouter un espace à gauche de la galerie d'images */
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FFD700; /* Couleur du titre principal */
}

article section {
    margin-bottom: 20px;
}

article section h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00FF00; /* Couleur des sous-titres */
}

article section p {
    margin-bottom: 10px;
    line-height: 1.6; /* Espacement entre les lignes */
    color: #FFFFFF; /* Couleur du texte */
}

article section span {
    font-weight: bold;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.menu-list {
    list-style: none; /* Enlève les puces par défaut */
    padding: 0; /* Supprime le padding par défaut de la liste */
}

.menu-list li {
    color: #00FF00 !important; /* Couleur du texte en vert */
    padding: 5px 0 5px 25px; /* Ajoute un padding à gauche pour l'image */
    border-bottom: 1px solid #00FF00; /* Bordure sous chaque élément pour le soulignement */
    background-image: url('https://win98icons.alexmeub.com/icons/png/web_file_set-2.png'); /* Définissez l'image à utiliser */
    background-repeat: no-repeat; /* Ne répète pas l'image */
    background-size: 24px 24px; /* Taille de l'image */
    background-position: 0px center; /* Positionne l'image à 10px du bord gauche, centrée verticalement */
}

.menu-list li a {
    color: inherit; /* Utilise la couleur définie sur le li */
    display: block; /* Étend le lien sur toute la largeur et la hauteur du li */
}

aside {
    background-color: #000000;
    color: #00FF00;
    padding: 20px;
    flex-shrink: 0;
    width: 150px;
}

.highlight {
    color: #ff00cc; /* Couleur des mots importants */
}